<!DOCTYPE html>
<html>
<head>
    <title>Dotify</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                console.log('Websocket connected!');
            });
            var form = $('form').on('submit', function(e) {
                e.preventDefault()
                var url = $('input.url').val()
                socket.emit('download', {url: url})
            })
            socket.on('progress', function(msg) {
                if (typeof msg.data === 'number') {
                    $('#progress-bar').width(msg.data + '%');
                    $('#progress-bar').text(msg.data + '%');
                } else {
                    $('#log').html(msg.data);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Dotify</h1>
    <form>
        <input type="text" class="url" placeholder="Enter a Spotify URL">
        <input type="submit" value="Download">
    </form>
    <div id="progress-bar-container" style="width: 100%; background-color: #f1f1f1;">
        <div id="progress-bar" style="width: 0%; height: 30px; background-color: #4CAF50; text-align: center; line-height: 30px; color: white;">0%</div>
    </div>
    <div id="log"></div>
</body>
</html>
